/* WebKit Scrollbar (Chrome, Safari) */
/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Styles for the scrollbar track */
::-webkit-scrollbar-track {
  background: #9093cb; /* Color of the track */
}

/* Styles for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #5b66c0; /* Color of the thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

/* Styles for the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}

/* Styles for the scrollbar corner (optional) */
::-webkit-scrollbar-corner {
  background: #f1f1f1; /* Color of the scrollbar corner (optional) */
}

.App{
  display: grid;
  justify-items:center;
  align-items:center;
}